Cython==0.19.2
werkzeug
gevent
Flask==0.10.1
Flask-Sockets==0.1
Jinja2==2.7.1
Mako==0.7.3
MarkupSafe==0.15
MySQL-python==1.2.3
gunicorn==18.0
py2app==0.7.3
redis==2.8.0
https://pypi.python.org/packages/source/w/ws4py/ws4py-0.3.4.zip
git+git://github.com/abeisgreat/python-firebasin.git