Cython==0.19.2
werkzeug
gevent==0.13.8
gevent-websocket==0.3.6
greenlet==0.4.1
Flask==0.10.1
Flask-Sockets==0.1
Jinja2==2.7.1
MySQL-python==1.2.3
gunicorn==19.3.0
redis==2.10.5
https://pypi.python.org/packages/source/w/ws4py/ws4py-0.3.4.zip
git+git://github.com/abeisgreat/python-firebasin.git
git+git://github.com:ozgur/python-firebase.gitpip