.header-box{
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eee;
}

.lh{
  line-height: 0.8;
}

#chat-text {
  overflow: auto;
  height: 500px;
  /*background-color: black;*/
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.22, #282829),
    color-stop(0.22, #282829),
    color-stop(0.61, #616163),
    color-stop(1, #8A8C8F)
  );
  background-image: -o-linear-gradient(bottom, #282829 22%, #282829 22%, #616163 61%, #8A8C8F 100%);
  background-image: -moz-linear-gradient(bottom, #282829 22%, #282829 22%, #616163 61%, #8A8C8F 100%);
  background-image: -webkit-linear-gradient(bottom, #282829 22%, #282829 22%, #616163 61%, #8A8C8F 100%);
  background-image: -ms-linear-gradient(bottom, #282829 22%, #282829 22%, #616163 61%, #8A8C8F 100%);
  background-image: linear-gradient(to bottom, #282829 22%, #282829 22%, #616163 61%, #8A8C8F 100%);
}

#input-name-form{
  width: 100%;
  margin-bottom: 10px;
  
}

#input-name{
  float: left; 
  /*width: 230px;*/
}

#name-confirm-btn{float: left;}

#input-form{
  margin-bottom: 20px;
  margin-top: 10px;
  height: 34px;
}

#input-text{width: 80%; float: left;}
#input-text-btn{
  width: 100%;
  background-color: #f1848d;
  border-color: #a9a8a9;
}
.btn-wrapper{
  float: left;
  width: 20%;
  padding-left: 6px;
  height: 34px;
}


.my-words 
{

background-color: black;
float: right;
margin-right: 25px;
position: relative;
width: 250px;
/*height: 120px;*/
min-height: 120px;  
padding: 3px;
border: solid 4px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.my-words:after 
{
content: "";
position: absolute;
top: 48px;
right: -15px;
border-style: solid;
border-width: 15px 0 15px 15px;
/*border-color: transparent #F5F900;*/
display: block;
width: 0;
z-index: 1;
}

.my-words:before 
{
content: "";
position: absolute;
top: 45px;
left: 245px;
border-style: solid;
border-width: 18px 0 18px 18px;
/*border-color: transparent #7E7F7F;*/
display: block;
width: 0;
z-index: 0;
}



.bubble-span-panel{  
margin-top: 10px;
/*background-color: black;*/
/*height: 122px;*/
min-height: 122px;
overflow: auto;
border-color: black;
}

.his-words
{

margin-left: 25px;
position: relative;
width: 250px;
height: 120px;
padding: 0px;
background: #000000;
border: solid 4px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.his-words:after 
{
content: "";
position: absolute;
top: 45px;
left: -15px;
border-style: solid;
border-width: 15px 16px 15px 0;
border-color: transparent #000000;
display: block;
width: 0;
z-index: 1;
}

.his-words:before 
{
content: "";
position: absolute;
top: 42px;
left: -21px;
border-style: solid;
border-width: 18px 18px 18px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
}


/* start from most neg to more pos */
.rg-1{ border-color: black; }
.rg-1:before{border-color: transparent black ;}
.rg-1:after{border-color: transparent black;}

.rg-2{ border-color: red; }
.rg-2:before{ border-color: transparent red;}
.rg-2:after{ border-color: transparent black;}

.rg-3{ border-color: #919191;}
.rg-3:before{border-color: transparent #919191;}
.rg-3:after{border-color: transparent black;}

.rg-4{ border-color: #660000;}
.rg-4:before{border-color: transparent #660000;}
.rg-4:after{border-color: transparent black;}

.rg-5{ border-color: #f8651d;}
.rg-5:before{border-color: transparent #f8651d;}
.rg-5:after{border-color: transparent black;}

.rg-6{ border-color: #6240a1;}
.rg-6:before{border-color: transparent #6240a1;}
.rg-6:after{border-color: transparent black;}

.rg-7{ border-color: #f9659b;}
.rg-7:before{border-color: transparent #f9659b;}
.rg-7:after{border-color: transparent black;}

.rg-8{ border-color: #fbfe32;}
.rg-8:before{border-color: transparent #fbfe32;}
.rg-8:after{border-color: transparent black;}

.rg-9{ border-color: #3302fb;}
.rg-9:before{border-color: transparent #3302fb}
.rg-9:after{border-color: transparent black  }

.rg-10{ border-color: #30cf31;}
.rg-10:before{border-color: transparent #30cf31;}
.rg-10:after{border-color: transparent black;}

.rg-11{ border-color: white;}
.rg-11:before{border-color: transparent white}
.rg-11:after{border-color: transparent black;}

.white-text{color: white;}