body,html{
  height:100%;
}

.header-box{
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eee;
}

.lh{
  line-height: 0.8;
}

#positiveIndicator {
	background-image:url(../data/positive.svg);
	right:5px;
}
#negativeIndicator {
	background-image:url(../data/negative.svg);
	left:5px;
}

#positiveIndicator, #negativeIndicator {
	position:absolute;
	top:5px;
	min-width:30px;
	min-height:60px;
	z-index:2000;
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-alignment:center;
}

#positiveIndicator p, #negativeIndicator p {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: 900;
	color: white;
}

#chat-text {
	position:relative;
	overflow: auto;
	width:100%;
	height:500px;
	padding-bottom:10px;
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(102,102,102,1) 8%, rgba(71,71,71,1) 10%, rgba(44,44,44,1) 16%, rgba(0,0,0,1) 22%, rgba(10,10,10,1) 32%, rgba(43,43,43,1) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(8%,rgba(102,102,102,1)), color-stop(10%,rgba(71,71,71,1)), color-stop(16%,rgba(44,44,44,1)), color-stop(22%,rgba(0,0,0,1)), color-stop(32%,rgba(10,10,10,1)), color-stop(50%,rgba(43,43,43,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 8%,rgba(71,71,71,1) 10%,rgba(44,44,44,1) 16%,rgba(0,0,0,1) 22%,rgba(10,10,10,1) 32%,rgba(43,43,43,1) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 8%,rgba(71,71,71,1) 10%,rgba(44,44,44,1) 16%,rgba(0,0,0,1) 22%,rgba(10,10,10,1) 32%,rgba(43,43,43,1) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 8%,rgba(71,71,71,1) 10%,rgba(44,44,44,1) 16%,rgba(0,0,0,1) 22%,rgba(10,10,10,1) 32%,rgba(43,43,43,1) 50%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 8%,rgba(71,71,71,1) 10%,rgba(44,44,44,1) 16%,rgba(0,0,0,1) 22%,rgba(10,10,10,1) 32%,rgba(43,43,43,1) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#002b2b2b',GradientType=0 ); /* IE6-9 */
}

#chat-bottom-pusher {
  min-height: 490px;
}

/*.bubble-span-panel{
  position:absolute;
  bottom: 0;
}*/

#bubblesContainer, #chat-overlay {
	position:relative;
	top:-16px;
	left:0,
	overflow: auto;
	width:100%;
	height:500px;
	z-index:1000;
	margin-top:-500px;
}

#bubblesContainer {
	background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(102,102,102,1) 8%, rgba(71,71,71,1) 10%, rgba(44,44,44,1) 16%, rgba(0,0,0,1) 22%, rgba(10,10,10,0) 32%, rgba(43,43,43,0) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(8%,rgba(102,102,102,1)), color-stop(10%,rgba(71,71,71,1)), color-stop(16%,rgba(44,44,44,1)), color-stop(22%,rgba(0,0,0,1)), color-stop(32%,rgba(10,10,10,0)), color-stop(50%,rgba(43,43,43,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 8%,rgba(71,71,71,1) 10%,rgba(44,44,44,1) 16%,rgba(0,0,0,1) 22%,rgba(10,10,10,0) 32%,rgba(43,43,43,0) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 8%,rgba(71,71,71,1) 10%,rgba(44,44,44,1) 16%,rgba(0,0,0,1) 22%,rgba(10,10,10,0) 32%,rgba(43,43,43,0) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 8%,rgba(71,71,71,1) 10%,rgba(44,44,44,1) 16%,rgba(0,0,0,1) 22%,rgba(10,10,10,0) 32%,rgba(43,43,43,0) 50%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(102,102,102,1) 8%,rgba(71,71,71,1) 10%,rgba(44,44,44,1) 16%,rgba(0,0,0,1) 22%,rgba(10,10,10,0) 32%,rgba(43,43,43,0) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#002b2b2b',GradientType=0 ); /* IE6-9 */
}

#input-name-form{
  width: 100%;
  margin-bottom: 10px;
  
}

#input-name{
  float: left; 
  /*width: 230px;*/
}

#name-confirm-btn{float: left;}

#input-form{
  margin-bottom: 20px;
  margin-top: 10px;
  height: 34px;
}

#input-text{width: 80%; float: left;}
#input-text-btn{
  width: 100%;
  background-color: #f1848d;
  border-color: #a9a8a9;
}
.btn-wrapper{
  float: left;
  width: 20%;
  padding-left: 6px;
  height: 34px;
}


.my-words 
{

background-color: black;
float: right;
margin-right: 25px;
position: relative;
width: 250px;
/*height: 120px;*/
min-height: 30px;
padding: 3px;
border: solid 3px;
-webkit-border-radius: 16px;
-moz-border-radius: 16px;
border-radius: 16px;
}

.my-words:after 
{
content: "";
position: absolute;
top: 25%;
right: -8px;
border-style: solid;
border-width: 9px 0 9px 9px;
/*border-color: transparent #F5F900;*/
display: block;
width: 0;
z-index: 1;
}

.my-words:before 
{
content: "";
position: absolute;
margin-top:-3px;
top: 25%;
left: 245px;
border-style: solid;
border-width: 12px 0 12px 12px;
/*border-color: transparent #7E7F7F;*/
display: block;
width: 0;
z-index: 0;
}



.bubble-span-panel{  
margin-top: 2px;
/*background-color: black;*/
/*height: 122px;*/
min-height: 45px;
overflow: auto;
border-color: black;
}

.panel-body {
    padding: 5px;
}

.his-words
{

margin-left: 25px;
position: relative;
width: 250px;
/*height: 120px;*/
min-height: 30px;
padding: 0px;
background: #000000;
border: solid 3px;
-webkit-border-radius: 16px;
-moz-border-radius: 16px;
border-radius: 16px;
}

.his-words:after 
{
content: "";
position: absolute;
top: 25%;
left: -9px;
border-style: solid;
border-width: 9px 9px 9px 0;
border-color: transparent #000000;
display: block;
width: 0;
z-index: 1;
}

.his-words:before 
{
content: "";
position: absolute;
margin-top:-3px;
top: 25%;
left: -12px;
border-style: solid;
border-width: 12px 12px 12px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
}


/* start from most neg to more pos */
.rg-1{ border-color: black; }
.rg-1:before{border-color: transparent black ;}
.rg-1:after{border-color: transparent black;}

.rg-2{ border-color: red; }
.rg-2:before{ border-color: transparent red;}
.rg-2:after{ border-color: transparent black;}

.rg-3{ border-color: #919191;}
.rg-3:before{border-color: transparent #919191;}
.rg-3:after{border-color: transparent black;}

.rg-4{ border-color: #660000;}
.rg-4:before{border-color: transparent #660000;}
.rg-4:after{border-color: transparent black;}

.rg-5{ border-color: #f8651d;}
.rg-5:before{border-color: transparent #f8651d;}
.rg-5:after{border-color: transparent black;}

.rg-6{ border-color: #6240a1;}
.rg-6:before{border-color: transparent #6240a1;}
.rg-6:after{border-color: transparent black;}

.rg-7{ border-color: #f9659b;}
.rg-7:before{border-color: transparent #f9659b;}
.rg-7:after{border-color: transparent black;}

.rg-8{ border-color: #fbfe32;}
.rg-8:before{border-color: transparent #fbfe32;}
.rg-8:after{border-color: transparent black;}

.rg-9{ border-color: #3302fb;}
.rg-9:before{border-color: transparent #3302fb}
.rg-9:after{border-color: transparent black  }

.rg-10{ border-color: #30cf31;}
.rg-10:before{border-color: transparent #30cf31;}
.rg-10:after{border-color: transparent black;}

.rg-11{ border-color: white;}
.rg-11:before{border-color: transparent white}
.rg-11:after{border-color: transparent black;}

.white-text{color: white;}
